* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*::before,
*::after {
    box-sizing: inherit;
}
body {
    background: rgb(41, 41, 41);
    font-family: 'Montserrat';
}

/* ==================== Scroll ==================== */
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: rgba(34,34,34,0.8);
}
::-webkit-scrollbar-track {
	background: rgba(241, 241, 241, 1);
}
/* ==================== end Scroll ==================== */



/* ==================== selection All elements ====================*/
::selection {
	background: #035666;
	color: #fff;
}

/* ==================== end selection All elements ====================*/



/* ================== all Css ==================== */
section {
    padding: 75px 150px;
    z-index: 10;
}
p {
    color: #fff;
    font-size: 1em;
    font-weight: 300;
}
.m-0 {
    margin: 0 !important;
}
a.btn {
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    background: #222;
    margin-top: 10px;
    font-weight: 500;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease-in-out;
    z-index: 10;
}
a.btn:focus {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.85);
}
a.btn:hover {
    background: #323232;
}
.mt-40 {
    margin-top: 40px;
}
/* ================== end all Css ==================== */



/* ================== header ==================== */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;
    z-index: 1001;
}
.header .toggle {
    display: inline-block;
    width: 35px;
    height: 35px;
    filter: invert(1);
    background: url('img/hamburger.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.header .toggle.active {
    position: fixed;
    top: 42px;
    right: 150px;
    background: url('img/window-close.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s ease-in-out;
}
.header a.logo {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* ================== end header ==================== */



/* ================== nav ==================== */
nav.nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100vh;
    background-color: #222;
    z-index: 1000;
    transition: 0.5s ease-in-out;
}
nav.nav.active {
    right: 0;
}
nav.nav ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 100vh;
    padding: 0 150px 0 0;
    transition: 0.85s ease-in-out;
}
nav.nav ul li {
    list-style: none;
    margin: 10px 0;
}
nav.nav ul li a {
    display: inline-block;
    color: #f1f1f1;
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #f1f1f1;
}
nav.nav ul li a:hover {
    background-color: #f1f1f1;
    color: #222;
}
/* ================== end nav ==================== */



/* ================== home ==================== */
.home {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden !important;
}
.home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 15s cubic-bezier(0.43, 0.43, 0.43, 0.43) infinite;
}
@keyframes zoom {
    100% {
        transform: scale(1.8);
    }
}
.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
}
.home .content-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;    
    width: 100%;
    padding: 0 150px;
}
.home .content-home h2 {
    position: relative;
    font-weight: 900;
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    z-index: 10;
}
.home .content-home h2 span {
    color:#e0f2f1;
    font-size: 1.3em;
}
.home .content-home p {
    position: relative;
    color: #fff;
    z-index: 10;
    margin: 0 0 10px;
}
/* ================== end home ==================== */



/* ================== gallery ==================== */
.gallery {
    position: relative;
    width: 100%;
    text-align: center;
}
.gallery .content-gallery {
    position: relative;
    width: 100%;
    text-align: center;
}
.gallery .content-gallery h2 {
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 2.2em;
}
.gallery .content-gallery h2 span {
    font-size: 1.5em;
    color:#f1f1f1;
    font-weight: 700;
}
.gallery .content-gallery p {
    color: #fff;
    font-size: 1em;
}
.gallery .row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery .row .box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    margin: 5px;
}
.gallery .row .box .imgbox {
    position: relative;
    width: 100%;
    height: 300px;
    transition: 0.4s;
}
.gallery .row .box .imgbox:first-child {
    margin-bottom: 10px;
}
.gallery .row:hover .box .imgbox {
    filter: brightness(0.2);
}
.gallery .row .box .imgbox:hover {
    filter: brightness(1);
}
.gallery .row .box .imgbox.h-100 {
    height: 100%;
    margin: 0;
}
.gallery .row .box .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ================== end gallery ==================== */



/* ================== services ==================== */
.services {
    position: relative;
    text-align: center;
    width: 100%;
}
.services .content {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 100;
}
.services .content h2 {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 2.2em;
}
.services .content h2 span {
    font-size: 1.5em;
    color:#f1f1f1;
    font-weight: 700;
}
.services .content p {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    color: #fff;
}
.services .services-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 100;
}
.services .services-box .box {
    position: relative;
    padding: 30px 20px;
    background: #222;
    color: #fff;
    max-width: 300px;
    margin: 15px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);   
    overflow: hidden;
    transition: 0.4s;
}
.services .services-box .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#f1f1f1;
    clip-path: circle(0% at center 50%);
    overflow: hidden;
    z-index: 1;
    transition: 0.6s;
}
.services .services-box .box:hover::before {
	clip-path: circle(100% at center 50%);
}
.services .services-box .box img {
    position: relative;
    max-width: 50px;
    filter: invert(1);
    z-index: 2;
}
.services .services-box .box h2 {
    position: relative;
    color: #fff;
    font-size: 1.1em;
    margin: 5px 0 10px;
    z-index: 2;
}
.services .services-box .box p {
    position: relative;
    color: #fff;
    z-index: 2;
    font-weight: 400;
}
.services .services-box .box:hover img {
    filter: invert(0);
}
.services .services-box .box:hover h2,
.services .services-box .box:hover p {
    color: #222;
}
/* ================== end services ==================== */



/* ================== about ==================== */
.about {
    position: relative;
    text-align: center;
    width: 100%;
}
.about .content {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 100;
}
.about .content h2 {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 2.2em;
}
.about .content h2 span {
    font-size: 1.5em;
    color:#f1f1f1;
    font-weight: 700;
}
.about .content p {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    color: #fff;
}
/* ================== end about ==================== */



/* Responsive */
@media (max-width: 992px) {
    section {
        padding: 40px;
    }
    .header .toggle.active {
        top: 42px;
        right: 40px;
    }
    .gallery .row {
        flex-wrap: wrap;
    }
    .gallery .row .box {
        margin: 0 0 10px;
    }
    .header {
        padding: 40px;
    }
    .home .content-home {
        padding: 0 40px;
    }
    .home .content-home h2 {
        font-size: 2em;
    }
    p {
        font-size: 14px;
    }
    nav.nav {
        width: 40%;
    }
    nav.nav ul {
        padding: 0 40px 0 0;
    }

}



@media (max-width: 600px) {
    nav.nav {
        width: 50%;
    }
    .services .services-box .box {
        padding: 20px;
        background: #222;
        color: #fff;
        max-width: 100%;
        margin: 15px;
        text-align: center;
        border-radius: 4px;
        box-shadow: 0 10px 30px rgb(0 0 0 / 40%);
        transition: 0.4s;
    }
    .home .content-home {
        top: 55%;
    }
}



@media (max-width: 475px) {
    .header {
        padding: 40px 20px;
    }
    section {
        padding: 40px 20px;
    }
    .header .toggle.active {
        top: 42px;
        right: 20px;
    }
    .home .content-home {
        padding: 0 20px;
    }
    .home .content-home a {
        margin-top: 10px;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 14px;
    }
    .home .content-home h2 {
        font-size: 1.8em;
        margin-bottom: 5px;
    }
    .gallery .content-gallery h2 , 
    .services .content h2 ,
    .about .content h2 {
        font-size: 1.8em;
    }
    nav.nav ul {
        padding: 0 20px 0 0;
    }
    nav.nav {
        width: 100%;
    }
    
}



@media (max-width: 320px) {
    section {
        padding: 40px 10px;
    }
    .gallery .content-gallery h2, 
    .services .content h2 , 
    .about .content h2 {
        font-size: 1.4em;
    }
    .gallery .content-gallery p ,
    .services .content p ,
    .services .content p {
        color: #fff;
        font-size: 13px;
    }
    .home .content-home h2 {
        font-size: 1.4em;
    }
}

/* end Responsive */
